.AboutBanner {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 42.29%, #FFFFFF 100%), url("../../banners/HomeBanner.jpg");
    min-height: 55vh;
    background-position: 50% 30%; 
    background-repeat: no-repeat;
} 

.ContactBanner {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 42.29%, #FFFFFF 100%), url("../../banners/ContactBanner.jpg");
    min-height: 55vh;
    background-position: 50% 30%; 
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);

} 

.HomeBanner {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 42.29%, #FFFFFF 100%), url("../../banners/HomeBanner.jpg");
    min-height: 55vh;
    background-position: 50% 30%; 
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);

}

.ProgramBanner {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 42.29%, #FFFFFF 100%), url("../../banners/ProgramBanner.jpg");
    min-height: 55vh;
    background-position: 50% 30%; 
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);

}

.StaffBanner {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 42.29%, #FFFFFF 100%), url("../../banners/StaffBanner.jpg");
    min-height: 55vh;
    background-position: 50% 15%; 
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);

} 

.BannerImage {
    position: relative;
    max-height: 55vh;
    object-fit: none;
    object-position: 50% 30%;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.BannerTitle {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
}

.BannerDescription {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-style: italic;
}