form {
  width: 70%;
  margin: auto;
  margin-top: 5rem;
  font-size: 1.6rem
}

form label {
  font-size: 1rem;
}

/* Defines the styling of the 4 textboxes on the contact form */
input,
textarea {
  width: 100%;
  padding: 1rem;
  border-radius: 30px;
  outline: none;
  margin: 10px 0;
}

.contactData {
  background-color: rgb(196,196,196,1);
  border: none
}

/* Define text color and font size inside the your message box on the contact page */
#elaborate{
  color: White;
  font-size: 1rem;
}

/* Defines Styling of the submit button the contact form */
input[type="submit"] {
  width: initial;
  background-color: rgb(196,196,196,1);
  color: #2e368f;
  padding: 1rem 2rem;
  border-radius: 0.8rem;
  cursor: pointer;
  transition: background-color 650ms;
  border: none;
  margin-bottom: 30px;
}

input[type="submit"]:hover {
  color: #2e368f;
  background-color: #ffe838;
}
