form {
    width: 70%;
    margin: auto;
    margin-top: 5rem;
    font-size: 1.6rem
}

form label {
    font-size: 1rem;
}
  
input,
select,
textarea {
    width: 100%;
    padding: 1rem;
    border-radius: 30px;
    outline: none;
}

.contactData {
    background-color: rgb(196,196,196,1);
    border: none
}
  
input[type="submit"] {
    width: initial;
    background-color: #eee;
    color: #2e368f;
    padding: 1rem 2rem;
    border-radius: 0.8rem;
    cursor: pointer;
    transition: background-color 650ms;
}
  
input[type="submit"]:hover {
color: #2e368f;
background-color: #ffe838;
}