:root {
    --primary: #ffffff
}

.btn {
    margin-top: 1em;
    padding: 8px 20px;
    border-radius: 25px;
    outline: none;
    border: none;
    cursor: pointer;
    white-space: nowrap;
    font-weight: 900;

}

/* .btn--primary {
    background-color: var(--primary);
    color: #242424;
    border: 1px solid var(--primary);
} */

.btn--outline {
    background-color: transparent;
    color: #ffffff;
    padding: 8px 20px;
    border: 1px solid var(--primary);
    transition: all 0.3s ease-out;
}

.btn-medium {
    padding: 8px 20px;
    font-size: 18px
}

.btn--large {
    padding: 12px 26px;
    font-size: 20px;
}

.btn--mobile{
    text-align: center;
    border-radius: 4px;
    width: 80%;
    text-decoration: none;
    font-size: 24px;
    background-color: transparent;
    color: #ffffff;
    padding: 14px 20px;
    border: 1px solid #ffffff;
    transition:  all 0.3s ease-out;
}

.btn--wide {
    padding: 12px 64px;
    font-size: 20px;
}

.btn--large:hover, .btn--medium:hover, .btn--mobile:hover{
    transition: all 0.3s ease-out;
    background: #ffffff;
    color: #242424; 
}


.pinkBtn {
    background-color: rgba(237, 28, 36, 0.65);
    color: #ffffff;
    border: none;
}

.purpleBtn {
    background-color: rgba(102, 45, 145, 0.65);
    color: #ffffff;
    border: none;
}

.whiteBtn {
    background-color: #ffffff;
    color: #242424;
    border: none
}

.peachBtn {
    background-color: #FAB96C;
    color: #242424;
    border: none
}

.limeBtn {
    background-color: #E0E98F;
    color: #ffffff;
    border: none;
}

.yellowBtn {
    background-color: rgba(255, 209, 5, 0.65);
    color: #242424;
    border: none;
}

.greyBtn {
    background-color: #C4C4C4;
    color: #242424;
    border: none;
}

.primary:hover {
    background-color: #ffffff;
    color: #242424;
    border: none
}
