@font-face {
  font-family: 'RWATangoCharlie';
  src: url("../../fonts/RWATangoCharlie-Slanted.otf") format("opentype");
}

h1{
  font-family: 'RWATangoCharlie';
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

p, a, label, input{
  font-family: "Montserrat"
}

p + p {
  margin: 0;
  padding: 0;
}

/* Fix: increase padding-bottom on smaller viewports */
.primary__hero-section {
  color: #fff;
  padding-bottom:2em;
}

.primary__hero-row {
  align-items: center;
}

.row {
  display: flex;
  margin-right: -15px;
  margin-bottom: -15px;
  margin-left: -15px;
  flex-wrap: wrap;
  align-content: stretch;
}

/* Fix: Margin misaligns multipictures */
.col {
  margin: 0 1em 1em 1em;
  /* padding-right: 15px;
  padding-left: 15px; */
  flex: 1;
  /* max-width: 50%; */
  flex-basis: 40%;
}

.primary__hero-text-wrapper {
  /* max-width: 540px; */
  padding-top: 0;
  padding-bottom: 60px;
}

.heading {
  margin-bottom: 24px;
  font-size: 3em;
  line-height: 1.1;
  font-weight: 600;
  color: #f7f8fa;
}

.subHeading {
  font-size: 40px;
}

.dark {
  color: #1c2237;
}

.yellow {
  background-color: rgba(255, 209, 5, 0.65);
}

.peach {
  background-color: #FAB96C;
}

.pink {
  background-color: rgba(237, 28, 36, 0.65)
}

.grey {
  background-color: #F4F4F4;
}

.purple {
  background-color: rgba(102,45,145,0.65)
}

.lime {
  background-color: #E0E98F;
}

.primary__hero-subtitle {
  max-width: 100%;
  /* margin-bottom: 35px; */
  font-size: 18px;
  /* font-style: italic; */
  line-height: 24px;
}

li p {
  color: black;
  font-weight: 550;
  padding: 0;
  margin: 0;
}

.rainbow::marker{
  font-family: "RWATangoCharlie";
  content: '*';
  font-size: 1.9em;

}

.li0 {
  color: #EC1D25;
}

.li1 {
  color:  #F7941D;
}

.li2 {
  color: #FED006;
}

.li3 {
  color:  #C5D82D;

}

.li4 {
  color: #36C1CE;

}

.li5 {
  color:  #662E91;

}

.li6 {
  color:  #F7941D;
}

.primary__hero-img-wrapper {
  /* max-width: 555px; */
  text-align: center;
}

/* Fix after rescaling images */
.primary__hero-img {
  max-width: 50%;
  max-height: 400px;
  min-width: 20em;
  border-radius: 5px;
  margin-top: 1rem;
  /* margin-right: 0;
  margin-left: 10rem;
  padding-right: 0; */
}

.home-ital {
  font-style: italic;
}

img {
  border: 0;
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
}

@media screen and (max-width: 991px) {
  .container {
    padding-right: 30px;
    padding-left: 30px;
  }
}

@media screen and (max-width: 768px) {
  .primary__hero-section {
    text-align: center;
  }
  /* .primary__hero-text-wrapper {
    padding-bottom: 65px;
  } */
  .primary__hero-img {
    margin: auto;
  }

  .col {
    max-width: 100%;
    min-width: 100%;
    display: block !important;
    margin: 0;
    /* flex: auto !important;
    flex-basis: 100%; */
  }
}