.staff-card {
    background-color: #FAB96C;
    justify-content: center;
    text-align: center;
    min-width: 100%;
    padding-bottom: 1em;
}

.staff-card:nth-child(odd){
    background-color: #ffffff;
}

.staff-profile {
    /* margin: 1em 0 1em 0; */
    max-width: 300px;
    max-height: 300px;
    border-radius: 50%;
    margin-top: 3em
    
}

.modal-profile {
    margin-top: 0.5em;
    max-width: 300px;
    max-height: 300px;
    border-radius: 50%;
}

@media screen and (max-width: 560px) {
        .modal-profile {
            max-width: 150px;
            max-height: 150px
        }
}

.modal-name{
    margin: 0;
}

.staffModal{
    text-align: center;
    width: 70%;
    margin: auto;
    margin-top: 6rem;
    background-image: linear-gradient(to top, #ffffff 70%, #FAB96C 30% ); 
    border: none;
    border-radius: 3%
}

.staffModal:focus{
    outline: none
}

.modalText{
    font-size: .7em;
    padding: 1em
}


@media screen and (min-width: 784px) {
    .staff-card {
        min-width: calc(100%/3) !important;
        min-width: 100%;
        background-image: linear-gradient(to bottom, #ffffff 50%, #FAB96C 50% );
        background-size: cover;
        background-repeat: no-repeat;
    }

    .staffModal{
        margin-top: 8rem;
    }

    .staff-card:nth-child(7),.staff-card:nth-child(8) {
        min-width: 50% !important;
    }

    .modalText{
        font-size: 1em
    }
}

@media screen and (min-width: 1000px) {
    .staffModal{
        width: 30%;
        /* margin-top: 10rem */
    }
}


