.newsTitle {
  text-align: center;
}

.responsiveCal {
  padding-bottom: 5%;
}

.responsiveCal iframe {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 800px;
  max-height: 300px;

}

.responsiveCal iframe span {
    font-size: 0.1em !important;
}


.upcomingWrapper{
  display: block;
  margin: auto;
}

.eventSection button {
  display: block;
  margin: auto;
}

@media screen and (min-width: 1000px) {
  .upcomingWrapper{
    display: flex;
  }
}

@media screen and (min-width: 800px) {
  .responsiveCal iframe {
    max-height: 500px
  }
}
